{%extends 'base.html'%}
{% block title %} Delete Blog Post {% endblock %}

{%block content%}

<div class="main-content">
{% if user.is_authenticated %}
<h1>Delete Blog....</h1>
<br> <br>
<h3> Delete: {{post.title}} <br></h3>
    <div class="form-group">
        <form action="" method="post">
            {%csrf_token%}
            <br>
            <strong>Are you sure??</strong>
            <br>
            <br>
            <button class="btn btn-secondary">DELETE</button>
        </form>
    </div>
</div>
{%else%}

You're not allowed here

{%endif%}
{%endblock%}