{%extends 'base.html'%}


{%block content%}
<div class="main-content">
<h1>Questions...</h1>

{% for post in object_list %}
<ul>
<li><a href="{% url 'article-detail' post.pk %}">{{post.title}} 

</a> <strong>- {{ post.author}} </strong> 
<br>{{post.body | slice:":100"}}</li>
{% if user.is_authenticated %}

<!-- <small>
    <a href="{% url 'update_post' post.pk %}">Edit</a>
    <a href="{%url 'delete_post' post.pk %}">Delete</a> 
</small> -->
{% endif %}
</ul>
{% endfor %}
</div>
{%endblock%}